body {
  font-family: Geneva, Verdana, sans-serif;
  color: rgb(1,80,10);
}

h1  {
  font-family: Copperplate, Papyrus, fantasy, sans-serif;
}

h2, h3  {
  background-color: yellow;
}
  
